{{!--
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}
<div class="container">
    <h3>Send SMS Message</h3>
    <input type="tel" name="number" id="number" placeholder="Enter Phone Number">
    <input type="text" name="msg" id="msg" placeholder="Enter text msg......">
    <input type="button" id="button" value="Send Text" class="button button-primary">
    <p class="response"></p>
</div>